<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>URLS</h1>
    <ul>
        <li><a href="{% url 'listar_proyectos' %}">Listado de proyectos</a></li>
        <li><a href="{% url 'tareas_proyectos' %}">Tareas asociadas a proyectos</a></li>
        <li><a href="{% url 'usuarios_asignados_tareas' %}">Usuarios con tareas</a></li>
        <li><a href="{% url 'tareas_con_observacion' 'Often' %}">Tareas con observacion "Among garden"</a></li>
    </ul>
</body>
</html>