{% extends "principal.html" %}

{% block cabecera %}

    <h1>Lista de proyectos</h1>

{% endblock %}
    
{% block contenido %}
    {% for proyecto in proyectos %}
        <ul>
            <li>
                <h2>Nombre: </h2><p>{{ proyecto.nombre }}</p>
                <h2>Descripcion: </h2><p>{{ proyecto.descripcion }}</p>
                <h2>Duración estimada: </h2><p>{{ proyecto.duracion_estimada }}</p>
                <h2>Fecha inicio: </h2><p>{{ proyecto.fecha_inicio }}</p>
                <h2>Fecha finalizacion: </h2><p>{{ proyecto.fecha_finalizacion }}</p>
                <h2>Creador: </h2><p>{{ proyecto.creador.nombre }}</p>
                <h2>Usuarios asignados al proyecto: </h2>
                {% for usu in proyecto.proyectos_asignados.all %}
                    <p>{{ usu.nombre }}</p>
                {% endfor %}
                <h2>Tareas</h2>
                </ul>
                    {% for tarea in proyecto.proyecto_tareas.all %}
                        <li>{{tarea.titulo}}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endfor %}
{% endblock %}