<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Comentarios de tareas que empiecen y de año concereto</h1>
    {% for comentario in comentarios %}
        <ul>
            <li>
                <p>Tarea: {{ comentario.comentario_tarea.titulo }}</p>
                <p>Contenido: {{ comentario.contenido }}</p>
            </li>
        </ul>
    {% endfor %}
</body>
</html>